{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}

    <div id="haut" class="container-fluid">
        <h1 class="text-center title-boutique">Partenaires</h1>
        <p class="sousTitleBoutique text-center">Découvrez : <br/>
            Des créations originales, éco-responsables, made in France.<br/>
            Des artistes, designers locaux et nationaux.
        </p>

        <div class="container colorBox">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4 text-center">
                                <img class="img-responsive"
                                     src="{{ asset('assets/images/maximum.png') }}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                              <p class="contactLinkBoutique">Site en ligne:</br>
                                <a class="contactLinkBoutique"
                                  href="https://www.maximum.paris/">
                                    www.maximum.paris.fr
                                  </a>
                                </p>
                            </div>
                        </div>
                            <div class="col-md-12 text-center">
                                <p class="textBoutique">
                                Notre objectif est simple :<br/>
                                proposer du mobilier de haute qualité, fabriqué en France et entièrement "recyclé".<br/>
                                Le tout à un prix abordable.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/maximum2.jpg') }}"/>
                            </div>
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/maximum1.jpg') }}"/>
                            </div>
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/maximum3.png') }}"/>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="container colorBox">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4 text-center">
                                <img class="img-responsive"
                                     src="{{ asset('assets/images/koziel.png') }}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                              <p class="contactLinkBoutique">Site en ligne:</br>
                                <a class="contactLinkBoutique"
                                  href="http://www.koziel.fr/?gclid=CjwKCAjwzoDXBRBbEiwAGZRIeGMoCidnuzK2N9SQR-0Mc6WbReZlMiOf1CfGiXQPCCmhijexkoXKPxoC1agQAvD_BwE">
                                    www.koziel.fr
                                  </a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/koziel1.jpg') }}"/>
                            </div>
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/koziel2.jpg') }}"/>
                            </div>
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/koziel3.jpg') }}"/>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
