{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}

    <div id="haut" class="container-fluid">

        <div class="row blockBoutique">
            <div class="col-md-12">
                <div class="colorBox col-md-4">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <img class="img-responsive logoPartenaire1"
                                 src="{{ asset('assets/images/maximum.png') }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum2.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum1.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum3.png') }}"/>
                        </div>
                    </div>

                </div>


                <div class="colorBox col-md-4">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <img class="img-responsive logoPartenaire1"
                                 src="{{ asset('assets/images/koziel.png') }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/koziel1.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/koziel2.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/koziel3.jpg') }}"/>
                        </div>
                    </div>
                </div>

                <div class="colorBox col-md-4">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <img class="img-responsive logoPartenaire1"
                                 src="{{ asset('assets/images/maximum.png') }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum2.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum1.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum3.png') }}"/>
                        </div>
                    </div>

                </div>

                <div class="colorBox col-md-4">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <img class="img-responsive logoPartenaire1"
                                 src="{{ asset('assets/images/maximum.png') }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum2.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum1.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum3.png') }}"/>
                        </div>
                    </div>

                </div>


                <div class="colorBox col-md-4">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <img class="img-responsive logoPartenaire1"
                                 src="{{ asset('assets/images/koziel.png') }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/koziel1.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/koziel2.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/koziel3.jpg') }}"/>
                        </div>
                    </div>
                </div>

                <div class="colorBox col-md-4">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 text-center">
                            <img class="img-responsive logoPartenaire1"
                                 src="{{ asset('assets/images/maximum.png') }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum2.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum1.jpg') }}"/>
                        </div>
                        <div class="col-md-4">
                            <img class="logoPartenaire2 img-responsive"
                                 src="{{ asset('assets/images/maximum3.png') }}"/>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}
