{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}

    <div id="haut" class="container-fluid">
        <h1 class="text-center title-boutique">Boutique</h1>
        <div class="container colorBox">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4 text-center">
                                <img class="img-responsive"
                                     src="{{ asset('assets/images/atelierO.jpg') }}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a class="contactLinkBoutique" href="https://www.facebook.com/pg/lAtelierO/about/?ref=page_internal">Contact:
                                    Lien Facebook</a>
                            </div>
                            <div class="col-md-12 text-center">
                                <p class="contactLinkBoutique"><a class="contactLink" href="ateliero.chloe.margot@gmail.com"><span
                                                class="glyphicon glyphicon-envelope"></span>ateliero.chloe.margot@gmail.com</a>
                                </p>
                            </div>
                            <div class="col-md-12 text-center">
                                <p class="textBoutique">
                                L'atelier O réalise des objets en faïence pour la décoration et l'art de la table.<br/>
                                Toutes les créations sont des pièces uniques et faites main à Orléans!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/atelierO2.jpg') }}"/>
                            </div>
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/atelierO1.jpg') }}"/>
                            </div>
                            <div class="col-md-4">
                                <img class="logoPartenaire img-responsive"
                                     src="{{ asset('assets/images/atelierO3.jpg') }}"/>
                            </div>
                        </div>
                    </div>
                </div>


    </div>

    <div class="positionAncretop text-center">
        <a class="ancre-top" href="#haut">Retour haut de page</a>
    </div>
{% endblock %}
