<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WHIZZI DECO{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    {#<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/styleActualites.css') }}"/>#}
    {#<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/styleContact.css') }}"/>#}
    {#<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/styleFooter.css') }}"/>#}
    {#<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/styleHome.css') }}"/>#}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/styleNavBar.css') }}"/>
    {#<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/stylePresentations.css') }}"/>#}
    {#<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/styleRealisation.css') }}"/>#}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block navbar %}{% include "navbar.html.twig" %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% include "footer.html.twig" %}{% endblock %}
<script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>

