<footer>
    <div class="container-fluid heightFooter">
        <div class="text-center footerBack">
            <div class="row">
                <div class="col-md-4">
                    <p class="addressFooter">Céline BRISSAIRE <br/>
                        06-63-77-87-72<br/>
                        150 Rue Marcel Belot 45160 Olivet<br/>
                        <a class="linkFooter" href="#">whizzideco@gmail.com</a><br/>
                        <a class="linkFooter" href="#">whizzideco.com</a></p>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('assets/images/logo_whizzideco.png') }}" class="logoWDFooter" alt="logoWD"/>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <div class="backFooterShareIcon">
                            <a href="https://www.facebook.com/WHIZZIDECO/" class="btn btn-sm"><img
                                        class="logoFooter" src="{{ asset('assets/images/fb.png') }}"></a>
                            <a href="https://www.houzz.fr/pro/celine-payen/whizzideco" class="btn btn-sm"><img
                                        class="logoFooter" src="{{ asset('assets/images/houzz.png') }}"></a>
                            <a href="https://www.instagram.com/whizzideco/" class="btn btn-sm"><img class="logoFooter"
                                                                src="{{ asset('assets/images/insta.png') }}"></a>
                            <a href="https://www.pinterest.fr/brissaire/" class="btn btn-sm"><img
                                        class="logoFooter"
                                        src="{{ asset('assets/images/pinterest.png') }}"></a>
                            <a href="https://www.linkedin.com/in/c%C3%A9line-brissaire-b7212641/" class="btn btn-sm"><img
                                        class="logoFooter"
                                        src="{{ asset('assets/images/linkdin.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mention">

                <p class="textMentions">Conception graphique, développement et création du site :
                    <a class="nameDev" href="https://www.linkedin.com/in/fabien-poher-487a3114a/">Poher
                        Fabien</a>,
                    <a class="nameDev" href="https://fr.linkedin.com/in/fabrice-gabriel-calixte-51a557111">
                        Gabriel-Calixte Fabrice.
                    </a>
                </p>
                <p class="textMentions">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/"><img
                                alt="Licence Creative Commons" class="img-mention-legal"
                                src="https://i.creativecommons.org/l/by-nc-sa/3.0/fr/88x31.png"/></a><br/>Le site
                    Whizzideco.com est mise à disposition selon les termes de la
                    <a class="nameDev" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/">Licence
                        Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions
                        3.0 France</a>.<br>
                    © 2018 Whizzideco.com™ tous droits réservés.<br>
                </p>
            </div>
        </div>
    </div>
</footer>