{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}

{% block body %}
    <div id="hautPage" class="container-fluid backgroundParticulier">
        <h1 class="title-prestation text-center">Particulier</h1>
        <p class="text-center"><strong>Décoratrice d'intérieur et extérieur
                à votre service pour tous vos projets personnels</strong>
        </p>

        <p class="text-center sous-title-prestation">Plusieurs missions vous sont proposées :</p>
    </div>
    <div class="row prestation-content text-center">
        <div class="col-md-offset-2 col-md-10">
            <div class="gifts-advantage col-md-2">
                <a class="colorAncre" href="#1">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/bulle.png') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        JE PENSE MON PROJET
                    </p>
                </a>
            </div>
            <div class="gifts-advantage  col-md-2">
                <a class="colorAncre" href="#2">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/equaire.png') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        JE STRUCTURE,<br/> J’AMENAGE
                    </p>
                </a>
            </div>
            <div class="gifts-advantage col-md-2">
                <a class="colorAncre" href="#3">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/eolienne.svg') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        JE CHOISIS MES ENERGIES
                    </p>
                </a>
            </div>

            <div class="gifts-advantage col-md-2">
                <a class="colorAncre" href="#4">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/pinceau.png') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        JE M’INSTALLE,<br/> JE DECORE
                    </p>
                </a>
            </div>
            <div class="gifts-advantage col-md-2">
                <a class="colorAncre" href="#5">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/garden.png') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        J’AMENAGE MON JARDIN
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid width-container text-center center-block">
        <a class="position" name="1"></a>
        <div class="row section-prestation1">
                <div class="col-md-offset-1 col-md-10 color-block">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset ('assets/images/planche-pics.png') }}" alt="visite-pics"
                                 class="img-prestation1 img-responsive center-block"/>
                        </div>
                        <div class="col-md-6">
                            <h1 class="colorAncre">Je pense à mon projet</h1>
                            <p class="text-presta-description"> Les besoins, les envies, les contraintes, les idées.<br/>
                                Pensez son projet avec un professionnel de l’aménagement <br/>c’est réfléchir à un ensemble,
                                optimiser les aménagements,<br/> organiser la circulation des flux, faire des choix esthétiques,<br/> techniques,
                                cohérent, harmonieux et innovant<br/> en tenant compte de votre budget.</p>
                        </div>
                    </div>
                </div>
        </div>

        <a class="position" name="2"></a>
        <div class="row section-prestation2">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 color-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="colorAncre">Je structure, j'amènage</h1>
                            <p class="text-presta-description"> Menuiserie, miroiterie, ferronnerie,<br/> cloison, ouvrant,
                                porte, fenêtre, <br/>cuisine, salle de bains,<br/> aménagement de combles.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset ('assets/images/etude-pics.png') }}" alt="visite-pics"
                                 class="img-prestation2 img-responsive center-block"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="position" name="3"></a>
        <div class="row section-prestation1">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 color-block">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset ('assets/images/energie.png') }}" alt="visite-pics"
                                 class="img-prestation1 img-responsive center-block"/>
                        </div>
                        <div class="col-md-6">
                            <h1 class="colorAncre">Je choisis mes énergies</h1>
                          <p class="text-presta-description">Electricite,<br/> plomberie, chauffage,<br/> pôële, cheminée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="position" name="4"></a>
        <div class="row section-prestation2">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 color-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="colorAncre">Je m'installe, je décore</h1>
                            <p class="text-presta-description"> Peinture enduit, <br/>revêtement, carrelage,<br/> mobilier,
                                tapisserie...</p>
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset ('assets/images/decore.jpg') }}" alt="visite-pics"
                                 class="img-prestation1 img-responsive center-block"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="position" name="5"></a>
        <div class="row section-prestation1">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 color-block">
                    <div class="row">
                      <div class="col-md-6">
                          <img src="{{ asset ('assets/images/jardin.png') }}" alt="visite-pics"
                               class="img-prestation2 img-responsive center-block"/>
                      </div>
                      <div class="col-md-6">
                          <h1 class="colorAncre">J’amènage mon jardin</h1><br/>
                          <p class="text-presta-description"> Aménagement extérieur,<br/> terrasse, balcon, paysage,<br/>
                              piscine, équipement extérieur.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
