{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid backgroundPrestation">
        <h2 class="title-prestation-index text-center">Choisissez votre profil:</h2>
        <div calss="row">
          <div class="col-md-offset-1 col-md-10">
              <div class="row">
                  <div class="col-md-offset-2 col-md-3 col-sm-6">
                      <a href="{{ path('app_particulier_page') }}" class="linkChoiseImg">
                        <h3 class="text-center link-choise">Particulier<br/>
                          <img class="choiceImg" src="{{ asset ('assets/images/home2.png') }}"alt="icône">
                        </h3>
                      </a>
                  </div>
                  <div class="col-md-offset-2 col-md-3 col-sm-6">
                      <a href="{{ path('app_professionel_page') }}" class="linkChoiseImg">
                        <h3 class="text-center link-choise">Professionnel
                            <img class="choiceImg"  src="{{ asset ('assets/images/professionnel.png') }}"
                                                                          alt="icône">
                        </h3>
                      </a>
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}
