{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}

{% block body %}

    <section>
        <div class="container-fluid backgroundParticulier">

            <h1 class="title-prestation padding-title text-center">Particulier</h1>
            <p class="text-center sous-title-prestation1"><strong>Décoratrice d'intérieur et extérieur</strong><br/>
                à votre service pour tous vos projets
            </p>
            <p class="text-center sous-title-prestation2">Plusieurs missions vous sont proposées :</p>

            <div class="row bottomIndexPresta">
                <div class="col-md-4 col-xs-12">
                    <img src="{{ asset ('assets/images/vert.png') }}" alt="losange1-pics"
                         class="losangePics img-responsive center-block"/>
                    <p class="text-center">1 S'inspirer</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <img src="{{ asset ('assets/images/2losanges.png') }}" alt="losange2-pics"
                         class="losangePics img-responsive center-block"/>
                    <p class="text-center">2 Accompagner</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <img src="{{ asset ('assets/images/3losanges.png') }}" alt="losange3-pics"
                         class="heightLosangePics img-responsive center-block"/>
                    <p class="positionOptionPresta text-center">3 Choisir</p>
                </div>
            </div>
        </div>
        </div>

        </div>
    </section>

    <section class="section" id="about">
        <div class="container colorBlock">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset ('assets/images/vert.png') }}" alt="losange1-pics"
                         class="losangePics img-responsive"/>
                </div>
                <div class="col-md-3">
                    <h2 class="title_position_presta text-center">S'inspirer</h2>
                </div>
            </div>
            <p class="text-presta-description">Vous êtes inspirés, avez un projet et des idées
                plein la tête, mais comment faire, pour être sûr de faire les bons choix ?</p>

            <p class="sous_description_presta_particulier">LA VISITE CONSEIL vous permet d’échanger
                avec un professionnel de l’aménagement,
                vous confortez dans vos intentions ou vous proposez un autre point de vue.</p>
        </div>

    </section>

    <div id="bg1" class="fixedbg">
    </div>
    </div>


    <section class="section" id="offer">

        <div class="container colorBlock">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset ('assets/images/2losanges.png') }}" alt="losange2-pics"
                         class="losangePics img-responsive"/>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Accompagner</h2>
                </div>
            </div>

            <p>Le projet se précise mais visuellement c’est encore difficile.</p>
            <p>
                Quelle implantation, quel design, style, quelle matière, matériaux, hauteur, lumière, ergonomie, couleur,
                motifs, texture...?</p>
            <p>L’étude Avant Projet constituée de 3 phases permet de répondre à toutes ces questions et de visualiser à
                l’aide de plans, d’esquisses et vidéo virtuelle 3D et des
                planches mobiliers matériaux et d’en connaître le budget estimatif grâce aux devis réalisés par mon équipe d’artisans.
            </p>
        </div>

    </section>

    <div id="bg2" class="fixedbg">
    </div>
    </div>

    <section class="section" id="link">

        <div class="container colorBlock">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset ('assets/images/3losanges.png') }}" alt="losange3-pics"
                         class="PositionLosangPics img-responsive"/>
                </div>
                <div class="col-md-3">
                    <h2 class="text-center">Choisir</h2>
                </div>
            </div>
            <p>Le projet est bouclé, toutes les cartes sont entre vos mains, pour lancer la réalisation de vos envies,<br/> de vos rêves et de votre projet.</p>
            <p>Vous avez des devis d’artisans sélectionnés et les shopping listes pour mener à bien votre projet.
                <br/>Mais le temps vous manque, vous n’êtes pas sur place et ou la gestion de chantier vous inquiète ?<br/>
                L’assistance travaux, vous permet alors de vivre cette période en toute tranquillité.
                Je serai votre unique interlocuteur et ferai l’intermédiaire entre vous et mon
                équipe d’artisans.
                Il ne s’agit pas de maîtrise d’œuvre puisque vous restez le seul décisionnaire de votre projet.</p>
        </div>
    </section>

    <div id="bg3" class="fixedbg">
    </div>
    </div>

{% endblock %}

