{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}

{% block body %}

    {#<section>#}
        {#<div class="container-fluid backgroundParticulier">#}

            {#<h1 class="title-prestation padding-title text-center">Particulier</h1>#}
            {#<p class="text-center sous-title-prestation1"><strong>Décoratrice d'intérieur et extérieur</strong><br/>#}
                {#à votre service pour tous vos projets#}
            {#</p>#}
            {#<p class="text-center sous-title-prestation2">Plusieurs missions vous sont proposées :</p>#}

            {#<div class="row bottomIndexPresta">#}
                {#<div class="col-md-4 col-xs-12">#}
                    {#<img src="{{ asset ('assets/images/vert.png') }}" alt="losange1-pics"#}
                         {#class="losangePics img-responsive center-block"/>#}
                    {#<p class="text-center">1 S'inspirer</p>#}
                {#</div>#}
                {#<div class="col-md-4 col-xs-12">#}
                    {#<img src="{{ asset ('assets/images/2losanges.png') }}" alt="losange2-pics"#}
                         {#class="losangePics img-responsive center-block"/>#}
                    {#<p class="text-center">2 Accompagner</p>#}
                {#</div>#}
                {#<div class="col-md-4 col-xs-12">#}
                    {#<img src="{{ asset ('assets/images/3losanges.png') }}" alt="losange3-pics"#}
                         {#class="heightLosangePics img-responsive center-block"/>#}
                    {#<p class="positionOptionPresta text-center">3 Choisir</p>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}

    <section class="container-fluid first-section">
        <h1 class="title">
            <span>
                 <img src="{{ asset ('assets/images/vert.png') }}" alt="losange1-pics"
                      class="losangePics img-responsive"
                 />
            </span>Carte Cadeau
        </h1>
        <div class="row gifts-content">
            <div class="col-sm-offset-1 col-sm-6">
                <p class="gifts-description">
                    <strong>En quoi consiste le coffret Cadeau ?</strong><br/>
                    une visite conseils d'1h30 au cours de laquelle je découvre le lieu, vos envies et votre projet
                    un compte rendu de nos échanges Conseils , idées, solutions sur l’agencement , les matériaux, couleurs,
                    éclairages, mobiliers...<br/>
                    une planche d'ambiance, de style et ou concept décoratif, une esquisse.<br/>
                </p>
                <p>
                    <strong class="title-cadeau2">Comment ça marche ?</strong><br/>
                    Par email ou par téléphone, nous définissons ensemble le nombre de pièce concernée.<br/>
                    Après réception du règlement, vous recevez par courrier ou par email la carte coffret cadeau
                    personnalisée au nom du destinataire.<br/>
                    Le moment venu, le destinataire du coffret cadeau prend son rendez-vous "<strong>Conseils déco</strong>"
                    pour bénéficier des conseils de qualité d'un professionnel de l'habitat.
                </p>
            </div>
            <div class="gifts-img  col-sm-5">
                <img class="giftcard-image gift-img img-responsive" src="{{ asset('assets/images/kdo.jpg') }}"
                     alt="image cadeau">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row advantage-content">
                <div class="gifts-advantage col-md-4 col-sm-6">
                    <div class="gifts-icon">
                        <img class="gift-icon img-responsive center-block" src="{{ asset ('assets/images/gift.png') }}"
                             alt="icône">
                    </div>

                    <p class="advantage-description">
                        Cadeau Original,<br/>
                        Personnalisé,<br/>Unique.
                    </p>
                </div>

                <div class="gifts-advantage col-md-4 col-sm-6">
                    <div class="gifts-icon">
                        <img class="gift-icon img-responsive center-block" src="{{ asset ('assets/images/gift.png') }}"
                             alt="icône">
                    </div>

                    <p class="advantage-description">
                        Offrez un coup de pouce<br/> à vos proche.
                    </p>
                </div>

                <div class="gifts-advantage col-md-4 col-sm-6">
                    <div class="gifts-icon">
                        <img class="gift-icon img-responsive center-block" src="{{ asset ('assets/images/gift.png') }}"
                             alt="icône">
                    </div>

                    <p class="advantage-description">
                        Accéder à un moment privilégié<br/> avec un professionnel<br/> de l'habitat.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div id="bg1" class="fixedbg">
    </div>

    <section class="container-fluid">
        <h1 class="title">
            <span>
                 <img src="{{ asset ('assets/images/2losanges.png') }}" alt="losange1-pics"
                      class="losangePics img-responsive"
                 />
            </span>Coaching déco
        </h1>
        <div class="row gifts-content">
            <div class="col-sm-offset-1 col-sm-6">
                <p class="gifts-description">
                    <strong>En quoi consiste le Diagnostique Conseils ?</strong><br/>
                    une visite conseils d'1h30 au cours de laquelle je découvre le lieu, vos envies et votre projet
                    un compte rendu de nos échanges Conseils , idées, solutions sur l’agencement , les matériaux, couleurs,
                    éclairages, mobiliers...<br/>
                    une planche d'ambiance, de style et ou concept décoratif, une esquisse.<br/>
                </p>
                <p>
                    <strong class="title-cadeau2">Comment ça marche ?</strong><br/>
                    Par email ou par téléphone, nous définissons ensemble le nombre de pièce concernée.<br/>
                    Après réception du règlement, vous recevez par courrier ou par email la carte coffret cadeau
                    personnalisée au nom du destinataire.<br/>
                    Le moment venu, le destinataire du coffret cadeau prend son rendez-vous "<strong>Conseils déco</strong>"
                    pour bénéficier des conseils de qualité d'un professionnel de l'habitat.
                </p>
            </div>
            <div class="prest-img-content col-sm-5">
                <img class="giftcard-image prest-img img-responsive" src="{{ asset('assets/images/diagnostique.jpeg') }}" alt="image cadeau">
            </div>
        </div>
    </section>

    <div id="bg2" class="fixedbg">
    </div>


    <section class="container-fluid">
        <h1 class="title">
            <span>
                 <img src="{{ asset ('assets/images/3losanges.png') }}" alt="losange1-pics"
                      class="losangePics img-responsive"
                 />
            </span>Penser son projet
        </h1>
        <div class="row gifts-content">
            <div class="col-sm-offset-1 col-sm-6">
                <p class="gifts-description">
                    <strong>En quoi consiste l'étude 3D ?</strong><br/>
                    une visite conseils d'1h30 au cours de laquelle je découvre le lieu, vos envies et votre projet
                    un compte rendu de nos échanges Conseils , idées, solutions sur l’agencement , les matériaux, couleurs,
                    éclairages, mobiliers...<br/>
                    une planche d'ambiance, de style et ou concept décoratif, une esquisse.<br/>
                </p>
                <p>
                    <strong class="title-cadeau2">Comment ça marche ?</strong><br/>
                    Par email ou par téléphone, nous définissons ensemble le nombre de pièce concernée.<br/>
                    Après réception du règlement, vous recevez par courrier ou par email la carte coffret cadeau
                    personnalisée au nom du destinataire.<br/>
                    Le moment venu, le destinataire du coffret cadeau prend son rendez-vous "<strong>Conseils déco</strong>"
                    pour bénéficier des conseils de qualité d'un professionnel de l'habitat.
                </p>
            </div>
            <div class="gifts-img  col-sm-5">
                <img class="giftcard-image prest-img img-responsive" src="{{ asset('assets/images/etude.jpeg') }}"
                     alt="image cadeau">
            </div>
        </div>
    </section>
    <div id="bg3" class="fixedbg">
    </div>

    <section class="container-fluid">
        <h1 class="title">
            <span>
                 <img src="{{ asset ('assets/images/3losanges.png') }}" alt="losange1-pics"
                      class="losangePics img-responsive"
                 />
            </span>Estimer son budget
        </h1>
        <div class="row gifts-content">
            <div class="col-sm-offset-1 col-sm-6">
                <p class="gifts-description">
                    <strong>En quoi consiste le chiffrage ?</strong><br/>
                    une visite conseils d'1h30 au cours de laquelle je découvre le lieu, vos envies et votre projet
                    un compte rendu de nos échanges Conseils , idées, solutions sur l’agencement , les matériaux, couleurs,
                    éclairages, mobiliers...<br/>
                    une planche d'ambiance, de style et ou concept décoratif, une esquisse.<br/>
                </p>
                <p>
                    <strong class="title-cadeau2">Comment ça marche ?</strong><br/>
                    Par email ou par téléphone, nous définissons ensemble le nombre de pièce concernée.<br/>
                    Après réception du règlement, vous recevez par courrier ou par email la carte coffret cadeau
                    personnalisée au nom du destinataire.<br/>
                    Le moment venu, le destinataire du coffret cadeau prend son rendez-vous "<strong>Conseils déco</strong>"
                    pour bénéficier des conseils de qualité d'un professionnel de l'habitat.
                </p>
            </div>
            <div class="gifts-img  col-sm-5">
                <img class="giftcard-image prest-img img-responsive" src="{{ asset('assets/images/chiffrage.png') }}"
                     alt="image cadeau">
            </div>
        </div>
    </section>

    <div id="bg4" class="fixedbg">
    </div>

    <section class="container-fluid">
        <h1 class="title">
            <span>
                 <img src="{{ asset ('assets/images/3losanges.png') }}" alt="losange1-pics"
                      class="losangePics img-responsive"
                 />
            </span>Coordonner ses travaux
        </h1>
        <div class="row gifts-content">
            <div class="col-sm-offset-1 col-sm-6">
                <p class="gifts-description">
                    <strong>En quoi consiste l'assistance travaux ?</strong><br/>
                    une visite conseils d'1h30 au cours de laquelle je découvre le lieu, vos envies et votre projet
                    un compte rendu de nos échanges Conseils , idées, solutions sur l’agencement , les matériaux, couleurs,
                    éclairages, mobiliers...<br/>
                    une planche d'ambiance, de style et ou concept décoratif, une esquisse.<br/>
                </p>
                <p>
                    <strong class="title-cadeau2">Comment ça marche ?</strong><br/>
                    Par email ou par téléphone, nous définissons ensemble le nombre de pièce concernée.<br/>
                    Après réception du règlement, vous recevez par courrier ou par email la carte coffret cadeau
                    personnalisée au nom du destinataire.<br/>
                    Le moment venu, le destinataire du coffret cadeau prend son rendez-vous "<strong>Conseils déco</strong>"
                    pour bénéficier des conseils de qualité d'un professionnel de l'habitat.
                </p>
            </div>
            <div class="gifts-img  col-sm-5">
                <img class="giftcard-image prest-img img-responsive" src="{{ asset('assets/images/assistance.jpg') }}"
                     alt="image cadeau">
            </div>
        </div>
    </section>
    <div id="bg5" class="fixedbg">
    </div>

    <section class="container-fluid">
        <h1 class="title">
            <span>
                 <img src="{{ asset ('assets/images/3losanges.png') }}" alt="losange1-pics"
                      class="losangePics img-responsive"
                 />
            </span>Home staging
        </h1>
        <div class="row gifts-content">
            <div class="col-sm-offset-1 col-sm-6">
                <p class="gifts-description">
                    <strong>En quoi consiste l'assistance travaux ?</strong><br/>
                    une visite conseils d'1h30 au cours de laquelle je découvre le lieu, vos envies et votre projet
                    un compte rendu de nos échanges Conseils , idées, solutions sur l’agencement , les matériaux, couleurs,
                    éclairages, mobiliers...<br/>
                    une planche d'ambiance, de style et ou concept décoratif, une esquisse.<br/>
                </p>
                <p>
                    <strong class="title-cadeau2">Comment ça marche ?</strong><br/>
                    Par email ou par téléphone, nous définissons ensemble le nombre de pièce concernée.<br/>
                    Après réception du règlement, vous recevez par courrier ou par email la carte coffret cadeau
                    personnalisée au nom du destinataire.<br/>
                    Le moment venu, le destinataire du coffret cadeau prend son rendez-vous "<strong>Conseils déco</strong>"
                    pour bénéficier des conseils de qualité d'un professionnel de l'habitat.
                </p>
            </div>
            <div class="gifts-img  col-sm-5">
                <img class="giftcard-image prest-img img-responsive" src="{{ asset('assets/images/assistance.jpg') }}"
                     alt="image cadeau">
            </div>
        </div>
    </section>

    <p class="following-page">
        <a href="{{ path('production_index') }}">Voir les réalisations <span class="glyphicon glyphicon-arrow-right"></span> </a>
    </p>


{% endblock %}

