{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid backgroundPrestation">
        <h1 class="title-prestation text-center">Professionel</h1>

        <p class="text-center"><strong>Décoratrice d'intérieur et extérieur</strong><br/>
            à votre service pour tous vos projets professionnels
        </p>

        <p class="text-center sous-title-prestation">Plusieurs missions vous sont proposées :</p>
    </div>
    <div class="row prestation-content text-center">
        <div class="col-md-offset-1 col-md-10">
            <div class="gifts-advantage col-md-3">
                <a class="colorAncre" href="#1">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/bulle.png') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        Visite conseils
                    </p>
                </a>
            </div>
            <div class="gifts-advantage  col-md-3">
                <a class="colorAncre" href="#2">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/equaire.png') }}"
                             alt="icône">
                    </div>
                    <p class="aprestation-description">
                        Etudes avant projet (Esquisses, plans...)<br/>
                        Consultations des entreprises
                    </p>
                </a>
            </div>
            <div class="gifts-advantage col-md-3">
                <a class="colorAncre" href="#3">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/pinceau.png') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        Assistance travaux
                    </p>
                </a>
            </div>
            <div class="gifts-advantage col-md-3">
                <a class="colorAncre" href="#4">
                    <div class="gifts-icon">
                        <img class="icon-prestations img-responsive" src="{{ asset ('assets/images/maison.png') }}"
                             alt="icône">
                    </div>
                    <p class="prestation-description">
                        Homestaging
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h2 class="ancre-prestation text-center"><a class="colorAncre" name="1">Visite conseils</a></h2>
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="" class=""/>
            </div>
            <div class="col-md-6">
                <p></p>
            </div>
        </div>
        <h2 class="ancre-prestation text-center"><a class="colorAncre" name="2">Etudes avant projet</a></h2>
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="" class=""/>
            </div>
            <div class="col-md-6">
                <p></p>
            </div>
        </div>
        <h2 class="ancre-prestation text-center"><a class="colorAncre" name="3">Assistance travaux</a></h2>
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="" class=""/>
            </div>
            <div class="col-md-6">
                <p></p>
            </div>
        </div>
        <h2 class="ancre-prestation text-center"><a class="colorAncre" name="4">Homestaging</a></h2>
        <div class="row">
            <div class="col-md-6">
                <img src="" alt="" class=""/>
            </div>
            <div class="col-md-6">
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}