{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}

    <div class="container-fluid production-content">
        <h1 class="text-center title-realisation">Réalisations</h1>
        <style>
            .item1 {
                background: url({{ asset( 'uploads/production/' ~ productions[0].imageName) }}) center no-repeat;
                background-size: cover;
            }

            .item2 {
                background: url({{ asset( 'uploads/production/' ~ productions[0].imageName) }}) center no-repeat;
                background-size: cover;
            }

            .item3 {
                background: url({{ asset( 'uploads/production/' ~ productions[0].imageName) }}) center top no-repeat;
                background-size: cover;
            }
        </style>

        <div class="carouselFixed">
            <div class="container-fluid">
                <div class="row">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">

                            <div class="item active item1">
                                <img src="{{ asset( 'uploads/production/' ~ productions[0].imageName) }}" alt="Photo de pizza">
                            </div>
                            <div class="item item2">
                                <img src="{{ asset( 'uploads/production/' ~ productions[0].imageName) }}" alt="Photo de camion">
                            </div>

                            <div class="item item3">
                                <img src="{{ asset( 'uploads/production/' ~ productions[0].imageName) }}" alt="Photo de pizza sortie du four">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>


{% endblock %}