{% extends 'base.html.twig' %}

{% block body %}

    <section class="container-fluid production-content">
        {#<h1 class="title-realisation text-center">Les réalisations de l'agence</h1>#}
        <div class="production-head-content">
            <div class="logo-house-production-img-content">
                <img src="{{ asset ('assets/images/logo-maison-test.png') }}" alt="logo-maison-whizzideco" class="logo-house-production-img img-responsive">
            </div>
            <p class="realisation-title-step">Les réalisations de l'agence</p>
        </div>
        <div class="row content-row">
            {% for productionPicture in productionPictures %}
                {% for newTab in newTabs %}
                    {% if productionPicture.updatedAt == newTab[1] %}
                    <div class="col-xs-6 col-md-2">
                        <a href="{{ path('production_show', { 'id': productionPicture.afterProduction.id }) }}" class="thumbnail">
                            <div class="production-list-img" style="background-image: url({{ asset( 'uploads/production/' ~ productionPicture.imageName) }});">

                            </div>
                            {#<img src="{{ asset( 'uploads/production/' ~ productionPicture.imageName) }}" alt="image" class="">#}
                        </a>
                        <p class="title-production">{{ productionPicture.afterProduction.title }}. {{ productionPicture.afterProduction.address }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        {% if nbProductions < 7  %}
            <div class="shadow-content-production"></div>
        {% endif %}
    </section>

{% endblock %}
