{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid production-before col-md-6">
            <p class="text-center title-realisation-carousel">Avant</p>
                <div class="pictures">
                    <div class="container-fluid carousel-content">
                        <div class="row">
                            <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for key in tabProductionBeforePicturesById|keys %}
                                        {% if key  == 0 %}
                                            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                        {% else %}
                                            <li data-target="#myCarousel1" data-slide-to="{{ key }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>

                                <div class="carousel-inner production-image-carousel">
                                    {% for tabProductionBeforePictureById in tabProductionBeforePicturesById %}
                                        {% if tabProductionBeforePictureById[0].beforeProduction.id == production.id %}
                                            {% if loop.first %}
                                                <div class="item active">
                                                    <a href="{{ asset( 'uploads/production/' ~ tabProductionBeforePictureById[0].imageName) }}" target="_blank">
                                                        <img src="{{ asset( 'uploads/production/' ~ tabProductionBeforePictureById[0].imageName) }}" alt="Photo" class="img-realisation"/>
                                                    </a>
                                                </div>
                                                <div class="overlay"></div>
                                                <div class="carousel-caption"></div>
                                            {% else %}
                                                <div class="item">
                                                    <a href="{{ asset( 'uploads/production/' ~ tabProductionBeforePictureById[0].imageName) }}" target="_blank">
                                                        <img src="{{ asset( 'uploads/production/' ~ tabProductionBeforePictureById[0].imageName) }}" alt="Photo" class="img-realisation"/>
                                                    </a>
                                                </div>
                                                <div class="overlay"></div>
                                                <div class="carousel-caption"></div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="production-text">
                    <p class="production-text-title">Demande client</p>
                    <div class="text-production">
                        {{ production.textBefore|raw }}
                    </div>
                </div>
        </div>
        <div class="container-fluid production-after col-md-6">
            <p class="text-center title-realisation-carousel">Après</p>
                <div class="pictures">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {% for key in tabProductionAfterPicturesById|keys %}
                                        {% if key  == 0 %}
                                            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                        {% else %}
                                            <li data-target="#myCarousel2" data-slide-to="{{ key }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>

                                <div class="carousel-inner production-image-carousel">
                                    {% for tabProductionAfterPictureById in tabProductionAfterPicturesById %}
                                        {% if tabProductionAfterPictureById[0].afterProduction.id == production.id %}
                                            {% if loop.first %}
                                                <div class="item active">
                                                    <a href="{{ asset( 'uploads/production/' ~ tabProductionAfterPictureById[0].imageName) }}" target="_blank">
                                                        <img src="{{ asset( 'uploads/production/' ~ tabProductionAfterPictureById[0].imageName) }}" alt="Photo" class="img-realisation">
                                                    </a>
                                                </div>
                                                <div class="overlay"></div>
                                                <div class="carousel-caption"></div>
                                            {% else %}
                                                <div class="item">
                                                    <a href="{{ asset( 'uploads/production/' ~ tabProductionAfterPictureById[0].imageName) }}" target="_blank">
                                                        <img src="{{ asset( 'uploads/production/' ~ tabProductionAfterPictureById[0].imageName) }}" alt="Photo" class="img-realisation">
                                                    </a>
                                                </div>
                                                <div class="overlay"></div>
                                                <div class="carousel-caption"></div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="production-text">
                    <p class="production-text-title">Mission réalisées</p>
                    <div class="text-production">
                        {{ production.textAfter|raw }}
                    </div>
                </div>
        </div>
    </div>
    <div class="customer-reviews">
        <p class="customer-reviews-title">Avis client</p>
        <div class="customer-reviews-content">
                <div class="customer-reviews-text">
                    {{ production.customerReview|raw }}
                </div>
                <div class="customer-reviews-stars">
                    {% for i in 1..5 %}
                        {% if production.rate >= i %}
                            <span class="glyphicon glyphicon-star checked"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-star"></span>
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}
