{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}

    <div class="container-fluid bloc-contact">
        <div class="row contact-content">
            <div class="col-md-6">
                <iframe class="api-map"
                        width="90%"
                        height="600px"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAqvk3ULx2DgSsA4qzh6_JLn7ciE47YGIw
&q=whizzideco,Olivet+France" allowfullscreen>
                </iframe>
            </div>
            <div class="col-md-6 bloc-info">
                <div class="col-md-5">
                    <h3>Céline Brissaire</h3>
                    <div class="contact-info">
                        <p class="contact-text"><span class="glyphicon glyphicon-home"></span>150 Rue Marcel Belot 45160 Olivet</p>
                        <p class="contact-text"><span class="glyphicon glyphicon-earphone"></span>06-63-77-87-72</p>
                        <p class="contact-text"><a class="contactLink" href="whizzideco@gmail.com"><span
                                        class="glyphicon glyphicon-envelope"></span>whizzideco@gmail.com</a>
                        </p>
                        <p class="contact-text">
                            Lundi sur RDV - du Mardi au Vendredi de 10h00 à 12h00 et de 14h00 à 18h00 - Le samedi 10h - 12h
                        </p>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-1">
                    <div class="portrait-pics text-center">
                        <img src="{{ asset ('assets/images/portrait.jpg') }}" class="contact-img" alt="celine-pics"/>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="row bloc-form">
                        {{ form_start(form) }}
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'placeholder': 'N° de tel'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group buttonSendMessage">
                                <input type="submit" value="Envoyer" class="btn btn-lg btn-warning">
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
