{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur {{ parent() }}{% endblock %}
{% block body %}
    <div id="haut" class="container-fluid">
        <h1 class="text-center title-actualite">Actualités</h1>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="row center-block">
                    <div class="col-offset-md-2 col-md-1">
                        <p class="text-center">24<br/>Juillet<br/>2018</p>
                       <a href="#" class="btn btn-sm"><img
                                    class="logoActu" src="{{ asset('assets/images/fb.png') }}"></a>
                        <a href="#" class="btn btn-sm"><img
                                    class="logoActu" src="{{ asset('assets/images/houzz.png') }}"></a>
                        <a href="#" class="btn btn-sm"><img class="logoActu"
                                                            src="{{ asset('assets/images/insta.png') }}"></a>
                    </div>
                    <div class="col-md-11">
                        <img class="img-actu img-responsive" src="{{ asset('assets/images/slide-2.jpg') }}" alt="actu-pics"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row width-text-actu">
            <div class="col-md-offset-3 col-md-6">
                <h3>by Céline </h3>
                <p>Lorem Ipsum est simplement du faux texte employé dans la
                    composition et la mise en page
                    avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les
                    années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour
                    réaliser
                    un livre spécimen de polices de texte.</p>
            </div>
        </div>
    </div>
    <div class="positionAncretop text-center">
        <a class="ancre-top" href="#haut">Retour haut de page</a>
    </div>
{% endblock %}